body {
  background-color: #1A2421;
  height: 100%;
}
#app {
  margin: 50px 0 100px 0;
  padding: 0px 5px 50px 0px;
  background-color: #136F63;
  color: rgb(205, 205, 205);
}

.center {
  text-align: center;
}

img {
  display: inline;
  width: 35%;
  height: 35%;
}

#footer {
  background-color:#136F63;
  color: black;
  margin-top: 5%;
}

#input-parent {
  margin: 0 auto 50px;
  position: relative;
}

#input-parent .btn{
  background-color:#C44900;
}

#guesses {
  margin-top: 5%;
}

#guesses ul li{
  border: solid 2px white;
  border-radius: 10%;
  padding: 10px 30px 10px 30px;
  margin: 10px 5px 5px 5px;
  font-size: 80px;
}

.btn-mahogany{
  background-color: #C44900;

}
.btn-koamaru{
  background-color: #3B3561;

}
.btn-jungle{
  background-color: #1A2421;

}
#menu-btns {
  margin-top: 20px;
}

#player-input{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  font-size: 6rem;
}

#submit{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 70%;
  left: 50%
}

#leftSide{

}
#rightSide{
  font-size: 15px;
}

#headers{
  margin-bottom: 50px;
}

#title {
  color: white;
}
