body {
  background-color: #1D201F;
  height: 100%;
}
#app {
  margin: 50px 0 100px 0;
  padding: 0px 5px 50px 0px;
  background-color: #8F91A2;
  /*box-shadow: 5px 5px 5px 5px;*/
  color: black;
}

.center {
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
}
img {
  display: inline;
}
#footer {
  border-top: solid 2px black;
  background-color:#1D201F;
  margin-top: 5%;
  padding-bottom: 1%;
}

#input-parent {
  margin: 0 auto 50px;
  position: relative;
}

#guesses ul li{
  display: inline;
  border: solid 2px black;
  border-radius: 10%;
  padding: 10px 30px 10px 30px;
  margin: 5px 5px 5px 5px;
  font-size: 100px;
}

#menu-btns {
  margin-top: 20px;
}

#player-input{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  font-size: 6rem;
}

#submit{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 70%;
  left: 50%
}

.footerimg {
  margin: auto;
  width: 35%;
  height: 35%;
}

#headers{
  margin-bottom: 50px;
}

